# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
crash.log

# Kubernetes
kubeconfig.yaml

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store

# Installer artifacts (accidentally downloaded into project dirs)
aws/
awscliv2.zip
kubectl
install
